name: Daily Auto Commit (Midnight Mode)

on:
  push:
    branches:
      - main
  schedule:
    # 17:15 UTC = 00:15 WIB (Dini Hari)
    # Bot akan jalan 15 menit setelah pergantian hari
    - cron: '15 17 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Random Consistent Commits
        run: |
          git config --global user.email "raffaeljkt@gmail.com"
          git config --global user.name "fidhera"
          
          # TARGET: 8 sampai 12 Commit
          # Rumus: Acak angka 0-4, lalu tambah 8.
          COUNT=$((RANDOM % 5 + 8))
          
          echo "Target hari ini: $COUNT commits (Jalan jam 00:15 WIB)"
          
          for ((i=1; i<=COUNT; i++))
          do
            echo "Commit ke-$i pada $(date)" >> last_run_log.txt
            git add last_run_log.txt
            git commit -m "Auto commit batch $i of $COUNT: Midnight Green"
            
            # Jeda 2 detik biar timestamp tidak numpuk
            sleep 2
          done
          
          # Push sekalian di akhir
          git push
